<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <h3>Transfer Money</h3>
        <label for="exampleInputEmail1" class="form-label">Select</label>
        <div class="input-group">

            <select (change)="update($event)" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              <option *ngFor="let user of users" [value]="user">{{user}}</option>
              
            </select>
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Amount</label>
            <input formControlName="amount" type="number" class="form-control" id="transferAmmount">
        </div>

        <button (click)="sendMoneytochild()" type="submit" class="btn btn-primary">Transfer</button></div>
</form>

<span *ngIf="this.showSuccessMessage" class="alert">Transfer succesfull !!</span>