<div *ngIf="viewmode; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h1>Users</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>money</th>
            <th>active </th>

        </tr>
        <tr *ngFor="let data of detailedView">
            <td> {{ data.username }}</td>
            <td>{{ data.money }}</td>

            <!-- if condition to check block status -->

            <td><b *ngIf="data.isActive; else elseBlock"> Active </b>
                <ng-template #elseBlock> <b>Blocked</b> </ng-template>
            </td>



        </tr>

    </table>
    <button class="btn btn-success" (click)="viewmode = false">Close</button>


</ng-template>


<ng-template #elseBlock>

    <div>
        <h1>Users</h1>
        <div *ngIf="usure">
            <h3> > Sure to Delete {{todelete.username}} ? </h3>
            <button class="btn btn-danger mx-3" (click)="usure = false;remove(todelete)">Yes</button>
            <button class="btn btn-dark" (click)="usure = false">No</button>
            <h5>It would also delete following users</h5>
            <ul *ngFor="let data of detailedView ">
                <li>{{data.username}}</li>
            </ul>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>money</th>
                    <th>active </th>
                    <th>children</th>
                    <th>parent</th>
                </tr>
            </thead>
            <tr *ngFor="let data of userData">
                <td> {{ data.username }}</td>

                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ data.money }}</td>
                <!-- if condition to check block status -->

                <td (click)="toogleBlock(data)">
                    <i-bs class="myicons" *ngIf="data.isActive; else elseBlock" name="unlock-fill" width="4vw" height="4vh">
                    </i-bs>
                    <ng-template #elseBlock>
                        <i-bs class="myicons" name="lock-fill" width="4vw" height="4vh">
                        </i-bs>
                    </ng-template>
                </td>
                <td>
                    <i-bs class="myicons" (click)="viewEveryone(data); viewmode=true" name="eye-fill" width="4vw" height="4vh">
                    </i-bs>
                </td>
                <td>
                    <i-bs (click)="usure = true; todelete = data;viewEveryone(data)" name="trash-fill" width="4vw" height="4vh">
                    </i-bs>
                </td>

            </tr>


        </table>

    </div>

</ng-template>